*.pyc
_Store
.ipynb_checkpoints
*~
/__pychache__/
ml_flood_config.py
/data/
docs/dask-worker-space/
/python/__pycache__/
/python/dask-worker-space/
/python/data/
/python/save/
auto_push.sh
autocommit
/archive/
