*.pyc
_Store
.ipynb_checkpoints
*~
.*
/__pychache__/
ml_flood_config.py
/data/*
!data/smallsampledata-glofas.nc
!data/smallsampledata-era5.nc
docs/dask-worker-space/
/python/__pycache__/
/python/dask-worker-space/
/python/data/
/python/save/
auto_push.sh
autocommit
/archive/
/notebooks/3_model_tests/*.py
/notebooks/3_model_tests/figures/
